// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap
@import "bootstrap";
// or Import Bootstrap Flex
@import "bootstrap-flex";
// or Import Bootstrap Grid
@import "bootstrap-grid";
// or Import Bootstrap Reboot
@import "bootstrap-reboot";

$bg-color-light: #496271;
$bg-color-dark:#344752;
$c-text-light:#fff;
$color-pink:#e85898;
$icon-size: 1.3rem;

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   $c-text-light;
    text-transform:uppercase;
    padding-left:25px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:     $c-text-light;
   text-transform:uppercase;
   padding-left:25px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     $c-text-light;
   text-transform:uppercase;
   padding-left:25px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:     $c-text-light;
   text-transform:uppercase;
   padding-left:25px;
}

/**  Header **/

#header-nav{
    background-color: $bg-color-light;
    text-transform: uppercase;
      .navbar{
        padding:0;
        background-color: $bg-color-light;
        button.navbar-toggler{
          color:$c-text-light;
        }
      }
      .navbar-brand{
        margin:20px 0 10px 40px;
        padding:0;
        vertical-align: center;
      }
      .navbar-nav {
            padding:30px 20px 0 0;
            li a{
            color:$c-text-light;
            padding:0;
            padding-right:20px;
          }
          li.active{

          }
       }
       .dropdown-menu{
         background-color: $bg-color-light;
       }
       .search-header {
         background-color: $bg-color-dark;
         color: $c-text-light;
         input[type='text']{
           opacity:0;
           display:none;
           border:none;
           background-color: $bg-color-dark;
           color: $c-text-light;
         }
         .btn {
           border:none;
           outline-property:none;
           padding:30px;
           height:84px;
           background-color: $bg-color-dark;
           color: $c-text-light;
          i{
           font-size:1.6rem;
           vertical-align: middle;
         }

       }
     }
}

 #footer-nav, .bg-faded{
  background-color: $bg-color-light;
 }

#footer-nav{
  color:$c-text-light;
  a{
    color:$c-text-light;
    text-decoration:none;
  }
  footer{
    padding: 20px 0 10px 0;
  }
  .footer-social ul {
    list-style-type: none;
    padding:0;
    padding-top: 10px;
    li{
    font-size:1.3em;
    display:inline-block;
    margin-right:15px;
      i {
        font-size:$icon-size;
      }
    }
  }
  .site-info{
    text-align:right;
  }
}


/** Content Article **/
h1.page-title{
  margin-top:65px;
  font-weight:300;
  color:$bg-color-light;
}
h2.post-title{
  color:$bg-color-light;
}
.post-thumbnail{
  position:relative;
}
.post-meta {
  position: absolute;
  bottom:0;
  background-color: $c-text-light;
  height:29px;
  span{
    padding-right: 8px;
    margin:0 8px;
    i{
      font-size:$icon-size;
      vertical-align: middle;
    }
    time{
      margin-left: 6px;
      margin-bottom: 4px;
    }
  }
  .meta-categories{
    display:inline-block;
    height:30px;
    background-color:#c3c5c6;
    text-transform: uppercase;
    a{
      padding-left: 8px;
      color:#fff;
     }
  }

}
.post-inside{
  .post-content{
    padding: 20px;
    background-color:#f7f7f7;
    margin-bottom:20px;
    .entry-title{
    margin-bottom: 20px;
    font-weight:500;
    }
    .read-more{
      .icon-plus-button{
        color:$color-pink;
        font-size:$icon-size;
        padding-right: 5px;
        vertical-align: middle;
      }
  }
  }
}

/** NAvigation posts **/

nav.navigation {
  .nav-links{
    padding:20px 40px 40px 40px;
    font-size:$icon-size;
    text-transform: uppercase;
    .nav-previous{
      text-align:left;
    }
    .nav-next{
      text-align: right;
    }
  }
}

/** Sidebar **/

#sidebar{
  border-left:1px solid #d0d0d0;
  padding: 20px;
  section{
    border-bottom: 1px dotted #496271;
    padding:20px 0;
    h4.widget-title {
      text-transform: uppercase;
      font-size:1.2rem;
      color:$color-pink;
      text-align: center;
      margin-bottom:15px;
      i{
        vertical-align: center;
        font-size:$icon-size;
      }
  }


  }
}
