// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap
@import "bootstrap";
// or Import Bootstrap Flex
@import "bootstrap-flex";
// or Import Bootstrap Grid
@import "bootstrap-grid";
// or Import Bootstrap Reboot
@import "bootstrap-reboot";

$bg-color-light: #496271;
$bg-color-dark:#344752;
$c-text-light:#fff;
$color-pink:#e85898;
$icon-size: 1.3em;



/** Main **/

#header-nav{
    text-transform: uppercase;
      a{
        color:$c-text-light;
      }
}

/**  Header **/
#header-nav, #footer-nav, .bg-faded{
  background-color: $bg-color-light;
 }

#footer-nav{
  color:$c-text-light;
  a{
    color:$c-text-light;
    text-decoration:none;
  }
  footer{
    padding: 20px 0 10px 0;
  }
  .footer-social ul {
    list-style-type: none;
    padding:0;
    padding-top: 10px;
    li{
    font-size:1.3em;
    display:inline-block;
    margin-right:15px;
      i {
        font-size:$icon-size;
      }
    }
  }
  .site-info{
    text-align:right;
  }
}


/** Content Article **/
.post-thumbnail{
  position:relative;
}
.post-meta {
  position: absolute;
  bottom:0;
  background-color: #fff;
  height:29px;
  span{
    padding-right: 8px;
    margin:0 8px;
    i{
      font-size:$icon-size;
      vertical-align: middle;
    }
    time{
      margin-left: 6px;
      margin-bottom: 4px;
    }
  }
  .meta-categories{
    background-color:#c3c5c6;
    text-transform: uppercase;
    color:#fff;
    a{
      padding-left: 8px;
      color:#fff;
     }
  }

}
.post-inside{
  .post-content{
    padding: 20px;
    background-color:#f7f7f7;
    margin-bottom:20px;
    .entry-title{
    margin-bottom: 20px;
    }
    .read-more{
      .icon-plus-button{
        color:$color-pink;
        font-size:$icon-size;
        padding-right: 5px;
        vertical-align: middle;
      }
  }
  }
}

/** NAvigation posts **/

nav.navigation {
  .nav-links{
    padding:20px 40px 40px 40px;
    font-size:$icon-size;
    text-transform: uppercase;
    .nav-previous{
      text-align:left;
    }
    .nav-next{
      text-align: right;
    }
  }
}

/** Sidebar **/

#sidebar{
  border-left:1px solid #d0d0d0;
  padding: 20px;
  section{
    border-bottom: 1px dotted #496271;
    padding:20px 0;
    h4 {
      text-transform: uppercase;
      color:$color-pink;
      text-align: center;
      margin-bottom:15px;
      i{
        vertical-align: center;
        font-size:$icon-size;
      }
  }


  }
}
