// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap
@import "bootstrap";
// or Import Bootstrap Flex
@import "bootstrap-flex";
// or Import Bootstrap Grid
@import "bootstrap-grid";
// or Import Bootstrap Reboot
@import "bootstrap-reboot";

$bg-color-light: #496271;
$bg-color-dark:#344752;
$c-text-light:#fff;
$color-icons:#e85898;



/** Main **/
#main-body{

}

/**  Header **/
#header-nav, #footer-nav{
  background-color: $bg-color-light;
 }
 
#footer-nav{
  color:$c-text-light;
  a{
    color:$c-text-light;
  }
}

#header-nav{
    text-transform: uppercase;
}

/** Footer **/


/** Main content **/

/** Sidebar **/

.col-sidebar{
  border-left:1px solid #d0d0d0;
  padding: 40px 35px;
}
